:root {
  --orange-color: #e6ba95;
  --orange-rgb: rgba(255, 255, 255, 0.5);
  --primary-color: #4c7e39;
}

html,
body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "ChosunGu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ChosunGu";
}

.main-wrap {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form input[type="text"] {
  width: 400px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #333;
  margin-bottom: 20px;
  outline: none;
}
#todo-form input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a7c6c8;
  outline: none;
  margin-bottom: 20px;
}

.main-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.main-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-title .material-icons {
  font-size: 70px;
  background: -webkit-linear-gradient(
    90deg,
    rgb(191, 213, 214) 30%,
    rgba(129, 48, 24, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-title h1 {
  font-size: 65px;
  font-family: "Rubik", sans-serif;
}

#footer-bottom {
  position: absolute;
  bottom: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#footer-bottom span {
  font-size: small;
}

.hidden {
  display: none !important;
}

.column {
  display: flex;
  flex-direction: column;
}

#todo {
  min-height: 405px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #a7c6c8;
}

#todo li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 14px;
}

#todo li:hover {
  font-weight: 600;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#main-container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calendar {
  width: 400px;
  height: 370px;
  background-color: #a7c6c8;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 30px;
}

#calendar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
}

#year {
  font-weight: 600;
}
#month-picker {
  display: flex;
}
#month {
  margin: 0 20px;
  width: 70px;
  text-align: center;
}
#month:hover,
.month-change:hover {
  cursor: pointer;
  font-weight: 600;
}

.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 600;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
  width: 100%;
}
.days span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}
.days span:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #f2edee;
  border-radius: 20%;
}
.current-date {
  color: black;
  background-color: white;
  border-radius: 20%;
}

.inner {
  margin-left: 50px;
  min-width: 1200px;
}

.tabs .inner {
  position: relative;
  padding: 0 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: #a7c6c8;
}
.tabs .tab,
.tabs .exit {
  padding: 25px 10px 20px 10px;
  transition: transform 300ms ease;
  cursor: pointer;
}
.tabs .exit {
  position: absolute;
  right: 30px;
}

.tab.active {
  color: white;
  transform: scale(1.1, 1.1);
}

.tabcontents .inner {
  border-radius: 0 0 10px 10px;
  border: 2px solid #a7c6c8;
  min-height: 600px;
  position: relative;
  display: flex;
  align-items: center;
}

.tabcontent {
  display: none;
}
.tabcontent:first-child {
  display: block;
}

.tabcontent .boxs {
  position: absolute;
  right: 150px;
}
.tabcontent .user {
  position: absolute;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.user .userImage {
  position: relative;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 5px solid #a7c6c8;
  background-size: cover;
}
.user .userImage .material-icons {
  position: absolute;
  right: 10px;
  bottom: 0px;
  font-size: 40px;
  background-color: rgb(235, 204, 204);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.user .userImage input {
  display: none;
}
.user #userName {
  font-size: 25px;
  font-weight: 700;
}
.boxs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.tabcontent .boxs .box {
  width: 400px;
  background-color: #a7c6c8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #959797;
}
.box.one {
  max-width: 200px;
  animation: to-top 0.5s;
}
.box.two {
  animation: to-top 1.2s;
}
.box.three {
  animation: to-top 2s;
}
.tabcontent .boxs .box:hover {
  background-color: rgba(92, 44, 44, 0.5);
}

.tabcontent .boxs .box .title {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding: 5px;
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
}
.tabcontent .boxs .box #quote {
  margin-top: 10px;
  margin-left: 5px;
  color: #fff;
  font-size: 18px;
  display: block;
  line-height: 1.5;
}
.tabcontent .boxs .box #weather,
#d {
  margin-top: 10px;
  margin-left: 5px;
  color: #fff;
  font-size: 18px;
  display: inline-block;
}
#d {
  padding-top: 10px;
  font-size: 20px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
}

#todoList .inner {
  justify-content: center;
}

@keyframes to-top {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
